.recent-estimate {
    background-color: var(--White);
    border: 1px solid var(--Blue-Zodiac);
    border-radius: .5rem;
    padding: 0 .25rem;
}

.recent-estimate-name {
    color: var(--Black);
    font-weight: 400;
    font-size: 1rem;
}

.recent-estimate-email {
    color: var(--Black);
    font-weight: 400;
    font-size: 1rem;
}

.recent-estimate-phone {
    color: var(--Black);
    font-weight: 400;
    font-size: 1rem;
}