.statistics {
    height: fit-content;
    background-color: var(--Blue-Zodiac);
    border-radius: 1rem;
}

.statistics-heading {
   text-align: center;
   font-size: 28px;
   line-height: 48px;
   color: var(--White);
   font-weight: bold;
}

.stat-cards {
    display: grid;
}

.stat-card {
    border: 1px solid var(--Blue-Zodiac);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    height: 5rem;
    background-color: var(--Blue-Zodiac);
    box-shadow: 0 0 1rem #06111c;
    transition: all .15s ease-in-out;
}

.stat-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem var(--Fountain-Blue);
}

.stat-card h3 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--Fountain-Blue);
}

.stat-card h4 {
    font-size: 10px;
    text-align: center;
    color: var(--White);
}

/* Customer Stats */

.customer-statistics-card {
    background-color: var(--Blue-Zodiac);
    border-radius: .5rem;
    margin: 0 1rem 1rem 1rem;
    padding: .5rem;
}

.customer-stats-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .75rem;
    margin: .5rem 0;
}

.customer-stats-heading {
    font-weight: bold;
    text-align: center;
    color: var(--White);
    font-size: 1rem;
}

.new-customer-button-container {
    text-align: center;
}

.stats-new-customer-button {
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    margin-top: .5rem;
    padding: 4px 8px;
    background-color: var(--Fountain-Blue);
    color: var(--Blue-Zodiac);
    border-radius: 15px;
}

.stats-new-customer-button:hover {
    box-shadow: 0 0 .5rem var(--Fountain-Blue);
}

/* Estimate Stats */

.estimate-statistics-card {
    background-color: var(--Blue-Zodiac);
    border-radius: .5rem;
    margin: 0 1rem 1rem 1rem;
    padding: .5rem;
}

.estimate-stats-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .75rem;
    margin: .5rem 0;
}

.estimate-stats-heading {
    font-weight: bold;
    text-align: center;
    color: var(--White);
    font-size: 1rem;
}

.new-estimate-button-container {
    text-align: center;
}

.stats-new-estimate-button {
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    margin-top: .5rem;
    padding: 4px 8px;
    background-color: var(--Fountain-Blue);
    color: var(--Blue-Zodiac);
    border-radius: 15px;
}

.stats-new-estimate-button:hover {
    box-shadow: 0 0 .5rem var(--Fountain-Blue);
}

@media (min-width: 700px) {
    .statistics {
        grid-column: 1 / 3;
    }
    
    .stat-cards {
        grid-template-columns: 1fr 1fr;
    }
}