.home {
    height: 100vh;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
    color: var(--Blue-Zodiac);
    font-size: 26px;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
}

@media (min-width: 600px) {
   .heading {
    width: 100%;
   }
}