.nav {
   width: 280px;
   height: 100%;
   background-color: var(--Blue-Zodiac);
   position: relative;
   z-index: 5000;
}

.user {
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.img {
    background-color: aquamarine;
    border: 1px solid aquamarine;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background-image: url(../../assets/MikeLautensack_residential_painting_business_logo_paint_brush_p_77de0025-9771-43f3-b614-66065f62befc.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.username {
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
}

.nav-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 220px;
    right: 0px;
    color: var(--Blue-Zodiac);
    font-weight: bold;
    width: 258px;
}

.nav-button {
    width: 100%;
    height: 56px;
    background-color: var(--Fountain-Blue);
    border-radius: 1rem 0 0 1rem;
    margin: 15px 0;
}

.nav-button:hover {
    box-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.logout {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    color: var(--Fountain-Blue);
    font-weight: 500;
}

@media (min-width: 600px) {

}