.estimate {
    background-color: var(--White);
    width: 100%;
    height: 100%;
    padding: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.estimate-doc {
    background-color: var(--Blue-Zodiac);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 0 .5rem .5rem;
    position: relative;
}

.customer-data {
    color: var(--White);
    font-size: 12px;
    line-height: 21px;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
}

.tasks {
    width: 100%;
    height: calc(100% - 135px);
    background-color: var(--White);
    border-radius: .5rem;
    position: relative;
    padding: .25rem;
}

.tasks-list-heading {
    font-weight: 500;
    color: var(--Blue-Zodiac);
    font-size: 16px;
    line-height: 32px;
}

.task-list {
    overflow-y: scroll;
    height: calc(100% - 32px);
    border-radius: .5rem;
    border: 2px solid var(--Blue-Zodiac);
    padding: .25rem; 
}

.buttons-and-price {
    width: calc(100% - 1rem);
    position: absolute;
    bottom: .5rem;
}

.estimate-buttons {
    width: 100%;
    background-color: var(--Fountain-Blue);
    color: var(--Blue-Zodiac);
    font-weight: bold;
    border-radius: 100vw;
    padding: .5rem 0;
    margin: .25rem 0;
}

.estimate-buttons:hover {
    box-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.estimate-total {
    text-align: end;
    color: var(--White);
    font-weight: bold;
}

.task-list::-webkit-scrollbar {
    width: 10px;
}

.task-list::-webkit-scrollbar-track {
    background-color: var(--White);
    border-radius: 100vw;
    margin-block: .25rem;
}

.task-list::-webkit-scrollbar-thumb {
    background-color: var(--Blue-Zodiac);
    border-radius: 100vw;
}

@media (min-width: 1000px) {
    .buttons-and-price {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: .5rem;
    }

    .estimate-buttons {
        margin: 0 .5rem;
    }
    
    .estimate-total {
        margin: 0 .5rem;
    }

    .tasks {
        height: calc(100% - 248px);
    }
}