.estimate-form {
    background-color: var(--Regent-Gray);
    width: 100%;
    height: 100%;
    padding: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.estimate-template {
    background-color: var(--White);
    width: 100%;
    height: 100%;
    border: 2px solid var(--Blue-Zodiac);
    border-radius: 1rem;
    padding: 0 .5rem .5rem;
    position: relative;
}

.estimate-name-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;   
}

.estimate-name-heading label {
    color: var(--Blue-Zodiac);
    font-size: 12px;
    line-height: 21px;
    margin: 0 .5rem;
    font-weight: 500;
}

.estimate-name-heading input {
    border: 1px solid var(--Blue-Zodiac);
    border-radius: 4px;
    background-color: var(--White);
    height: 2rem;
    color: var(--Blue-Zodiac);
    padding: 0 .25rem;
}

.estimate-name-heading input:focus {
    outline: none;
    border: 2px solid var(--Fountain-Blue);
}

.estimate-template-fields {
    display: flex;
    justify-content: space-between;
    margin: .25rem 0;
}

.estimate-template-fields label {
    color: var(--Blue-Zodiac);
    font-size: 12px;
    line-height: 21px;
    font-weight: 500;
}

.estimate-template-fields input {
    border: 1px solid var(--Blue-Zodiac);
    border-radius: 4px;
    background-color: var(--White);
    color: var(--Blue-Zodiac);
    padding: 0 .25rem;
}

.estimate-template-fields input:focus {
    outline: none;
    border: 2px solid var(--Fountain-Blue);
}

.form-tasks {
    width: 100%;
    height: calc(100% - 257px);
    background-color: var(--White);
    border: 2px solid var(--Blue-Zodiac);
    border-radius: .5rem;
    position: relative;
    padding: .25rem;
}

.oneError {
    height: calc(100% - 285px);
}

.twoErrors {
    height: calc(100% - 313px);
}

.threeErrors {
    height: calc(100% - 341px);
}

.tasks-list-heading {
    font-weight: 500;
    color: var(--Black);
    font-size: 16px;
    line-height: 32px;
}

.task-name-and-delete-icon {
    display: flex;
    justify-content: space-between;
}

.add-task-button {
    font-size: 1.5rem;
    color: var(--Fountain-Blue);
    position: absolute;
    top: .25rem;
    right: .25rem;
}

.add-task-button:hover {
    text-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.task-form-list {
    overflow-y: scroll;
    height: calc(100% - 32px);
    border-radius: .5rem;
    border: 2px solid var(--Blue-Zodiac);
    background-color: var(--Tiara);
    padding: 0 .25rem; 
}

.buttons-and-price {
    width: calc(100% - 1rem);
    position: absolute;
    bottom: .5rem;
}

.estimate-form-buttons {
    width: 100%;
    background-color: var(--Fountain-Blue);
    color: var(--Blue-Zodiac);
    font-weight: bold;
    border-radius: 100vw;
    padding: .5rem 0;
    margin: .25rem 0;
}

.estimate-buttons:hover {
    box-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.estimate-form-total {
    text-align: end;
    color: var(--Blue-Zodiac);
    font-weight: bold;
}

.task-form-list::-webkit-scrollbar {
    width: 10px;
}

.task-form-list::-webkit-scrollbar-track {
    background-color: var(--Tiara);
    border-radius: 100vw;
    margin-block: .25rem;
}

.task-form-list::-webkit-scrollbar-thumb {
    background-color: var(--Blue-Zodiac);
    border-radius: 100vw;
}

@media (min-width: 1000px) {
    .buttons-and-price {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: .5rem;
    }

    .estimate-buttons {
        margin: 0 .5rem;
    }
    
    .estimate-form-total {
        margin: 0 .5rem;
    }

    .tasks {
        height: calc(100% - 248px);
    }
}