.subtask {
    background-color: var(--White);
    border-radius: .25rem;
    border: 1px solid var(--Blue-Zodiac);
    padding: .2rem;
    width: 100%;
}

.subtask-name-and-delete-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 20px;
}

.subtask-name-heading {
    color: var(--Blue-Zodiac);
    font-size: 1rem;
    font-weight: 500;
}

.subtask-description {
    font-size: 12px;
    color: var(--Blue-Zodiac);
}

.subtask-button-and-total {
    display: flex;
}

.edit-subtask-button {
    font-size: 12px;
    color: var(--Blue-Zodiac);
    border-radius: 100vw;
    font-weight: 500;
    background-color: var(--Fountain-Blue);
    width: 100%;
    margin: 0 .5rem;
    padding: 2px 8px;
}

.subtask-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.subtask-price-heading {
    color: var(--Blue-Zodiac);
    text-align: end;
    margin: 0;
}