.new-subtask-form {
    width: 320px;
    background-color: var(--Blue-Zodiac);
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.new-subtask-input-feilds-box {
    margin: 1rem 0;
}

.new-subtask-input-feilds {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.method-card {
    max-height: 25rem;
    overflow-y: scroll;
}

.new-subtask-input-feilds label {
    color: var(--White);
    font-size: 1rem;
    font-weight: 500;
}

.new-subtask-input-feilds input,
.new-subtask-input-feilds input::placeholder {
    color: var(--Black);
    background-color: var(--Tiara);
    border-radius: .5rem;
    padding-left: .1rem;
}

.method-select {
    color: var(--Black);
    background-color: var(--Tiara);
    border-radius: .5rem;
    padding-left: .1rem;
}

.new-subtask-form-submit-button {
    width: 100%;
    padding: .5rem 0;
    background-color: var(--Fountain-Blue);
    color: var(--Blue-Zodiac);
    border-radius: 100vw;
    font-weight: 500;
}