.new-task-form {
    width: 320px;
    background-color: var(--Blue-Zodiac);
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.new-task-input-feilds-box {
    margin: 1rem 0;
}

.new-task-input-feilds {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.new-task-input-feilds label {
    color: var(--White);
    font-size: 1rem;
    font-weight: 500;
}

.new-task-input-feilds input {
    color: var(--Black);
    background-color: var(--Tiara);
    border-radius: .5rem;
    padding: 0 .25rem;
}

.new-task-input-feilds input:focus {
    outline: none;
    border: 2px solid var(--Fountain-Blue);
}

.new-task-input-feilds input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--Tiara) inset !important;
    -webkit-text-fill-color: var(--Black) !important;
}

.new-task-form-submit-button {
    width: 100%;
    padding: .5rem 0;
    background-color: var(--Fountain-Blue);
    color: var(--Blue-Zodiac);
    border-radius: 100vw;
    font-weight: 500;
}