.task {
    border: 2px solid var(--Blue-Zodiac);
    background-color: var(--White);
    border-radius: .5rem;
    margin: .25rem 0;
    padding: .5rem;
    position: relative;
}

.task-name-and-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.task-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--Blue-Zodiac);
}


.task-price-label {
    position: absolute;
    left: 1000000px;
}

.task-price {
    font-weight: bold;
    color: var(--White);
}

.subtask-list {
    width: 100%;
    height: 5.5rem;
    margin: .5rem 0;
    padding: .25rem;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    gap: .2rem;
    background-color: var(--Tiara);
    border: 2px solid var(--Blue-Zodiac);
    border-radius: .25rem;
}

.task-description {
    width: 100%;
    color: var(--Blue-Zodiac);
    border-radius: .25rem;
    margin: 0;
    font-size: 12px;
    line-height: 21px;
}

.tasks-subtask-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.add-subtask-button {
    font-size: 12px;
    line-height: 21px;
    color: var(--Blue-Zodiac);
    font-weight: bold;
    border-radius: 100vw;
    background-color: var(--Fountain-Blue);
    margin-right: .25rem;
    padding: 4px;
    width: 50%;
}

.add-subtask-button:hover {
    box-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.edit-task-button {
    font-size: 12px;
    line-height: 21px;
    color: var(--Blue-Zodiac);
    font-weight: bold;
    border-radius: 100vw;
    background-color: var(--Fountain-Blue);
    padding: 4px;
    width: 50%;
}

.edit-task-button:hover {
    box-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.delete-task-button {
    font-size: 12px;
    line-height: 21px;
    color: var(--Blue-Zodiac);
    font-weight: bold;
    border-radius: 100vw;
    background-color: var(--Delete);
    margin-left: .25rem;
    width: 50%;
    padding: 4px;
}

.delete-task-button:hover {
    box-shadow: 0 0 .5rem var(--Delete);
}

.subtask-list::-webkit-scrollbar {
    width: 10px;
}

.subtask-list::-webkit-scrollbar-track {
    background-color: var(--Regent-Gray);
    border-radius: 100vw;
    margin-block: .25rem;
}

.subtask-list::-webkit-scrollbar-thumb {
    background-color: var(--Blue-Zodiac);
    border-radius: 100vw;
}