.estimates {
    display: flex;
    height: 100vh;
    background-color: blue;
}

.estimates-sidebar {
    position: fixed;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
    z-index: 1000;
}

.estimates-sidebar[data-vis = true] {
    transform: translateX(0%);

}

.estimates-sidebar-button {
    position: fixed;
    display: block;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
    color: var(--Blue-Zodiac);
}

.estimates-sidebar-button[data-vis = true] {
    position: fixed;
    display: block;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
    color: var(--Fountain-Blue);
}

.estimates-content {
    width: 100%;
    height: 100%;
    background-color: var(--Regent-Gray);
    position: relative;
}

.estimates-content-top {
    display: flex;
    justify-content: space-between;
}

.estimates-card {
    background-color: var(--Blue-Zodiac);
    border-radius: 1rem;
    padding: 0 1rem 1rem;
    margin: 1rem;
    height: calc(100% - 90px);
}

.add-estimate-icon-box {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 2.5rem;
}

.add-estimate-icon {
    color: var(--Fountain-Blue);
    height: 3rem;
}

.estimate-list {
    height: calc(100% - 2.5rem);
    overflow-y: scroll;
    background-color: var(--Tiara);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: .25rem;
    gap: 2px;
    position: relative;
}

.estimate-heading {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--Blue-Zodiac);
    margin: 1rem 0 0 1rem;
}

.new-estimate-button {
    padding: .5rem 1rem;
    margin: 1rem 1rem 0 0;
    background-color: var(--Fountain-Blue);
    color: var(--Blue-Zodiac);
    font-weight: bold;
    border-radius: 100vw;
}

.new-estimate-button:hover {
    box-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.estimate-list::-webkit-scrollbar {
    width: 10px;
}

.estimate-list::-webkit-scrollbar-track {
    background-color: var(--Tiara);
    border-radius: 100vw;
    margin-block: .25rem;
}

.estimate-list::-webkit-scrollbar-thumb {
    background-color: var(--Fountain-Blue);
    border-radius: 100vw;
}

@media (min-width: 650px) {
    .estimates-sidebar {
        left: 0;
        transform: translateX(0%);
        position: relative;
    }

    .estimates-sidebar-button {
        display: none;
    }
}