.subtask {
    background-color: var(--Tiara);
    border-radius: .25rem;
    padding: .2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.subtask-buttons {
    display: flex;
    margin: 0 0 0 .5rem;
}

.edit-subtask-button {
    color: var(--Blue-Zodiac);
    font-weight: bold;
    background-color: var(--Fountain-Blue);
    margin: 0 .25rem 0 0;
    padding: 4px 8px;
    border-radius: 100vw;
    width: 65px;
}

.edit-subtask-button:hover {
    box-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.delete-subtask-button {
    color: var(--Blue-Zodiac);
    background-color: var(--Delete);
    margin: 0 0 0 .25rem;
    padding: 4px 8px;
    border-radius: 100vw;
    font-weight: bold;
    width: 65px;
}

.delete-subtask-button:hover {
    box-shadow: 0 0 .5rem var(--Delete);
}

.subtask-fields {
    display: flex;
    margin: 0 .5rem;
}

.subtask-fields h2 {
    color: var(--Blue-Zodiac);
}

.subtask-name-heading {
    font-size: 10px;
    display: flex;
    align-items: center;
    margin: 0 .2rem 0 0;
}

.subtask-price-heading {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: var(--White);
}