.estimate-generator {
    display: flex;
    background-color: rgb(218, 218, 218);
    height: 100vh;
}

.estimate-generator-nav {
    position: fixed;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
}

.estimate-generator-nav[data-vis = true] {
    transform: translateX(0%);

}

.estimate-generator-content {
    width: 100%;
}

.estimate-generator-nav-button {
    position: absolute;
    display: block;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
}

@media (min-width: 700px) {
    .estimate-generator-nav{
        left: 0;
        transform: translateX(0%);
        position: relative;
    }

    .estimate-generator-nav-button {
        display: none;
    }
}