.dashboard {
    display: flex;
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
}

.dashboard-sidebar {
    position: fixed;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
}

.dashboard-sidebar[data-vis = true] {
    transform: translateX(0%);

}

.dashboard-sidebar-button {
    position: fixed;
    display: block;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
}

.dashboard-content {
    display: grid;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
    grid-template-rows: min-content;
    background-color: var(--White);
}

@media (min-width: 700px) {
    .dashboard-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .dashboard-sidebar{
        left: 0;
        transform: translateX(0%);
        position: relative;
    }

    .dashboard-sidebar-button {
        display: none;
    }
}