.estimate-content-component {
    width: 100%;
    height: 100%;
    background-color: rgb(174, 0, 255);
}

.estimate-content-component-top {
    display: flex;
    justify-content: space-between;
}

.estimates-card {
    background-color: #49da8f;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    height: 30rem;
}

.estimate-list {
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    padding: 4px;
    gap: 2px;
}

.estimate-heading {
    font-size: 1.75rem;
    font-weight: bold;
    color: #0C243C;
    margin: 1rem 0 0 1rem;
}

.new-estimate-button {
    padding: .5rem 1rem;
    margin: 1rem 1rem 0 0;
    background-color: #0C243C;
    color: white;
    border-radius: 100vw;
}