.estimate-li {
    border: 2px solid var(--Black);
    border-radius: .5rem;
    display: flex;
    background-color: var(--White);
    position: relative;
}

.estimate-li-data {
    font-size: 12px;
    line-height: 21px;
    width: 80%;
    padding: 8px;
}

.estimate-li-button-box {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    height: 25%;
    width: 3.75rem;
    top: .5rem;
    right: .5rem;
}

.edit-estimate {
    color: var(--Fountain-Blue);
}

.edit-estimate:hover {
    text-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.delete-estimate {
    color: var(--Delete);
}

.delete-estimate:hover {
    text-shadow: 0 0 2rem var(--Delete);
}