.subtask-list-item {
    border-top: 1px solid var(--Blue-Zodiac);
    border-bottom: 1px solid var(--Blue-Zodiac);
    padding: 0 .15rem;
    background-color: var(--White);
}

.subtask-list-item-subtaskname {
    font-size: .75rem;
    color: var(--Blue-Zodiac);
    font-weight: 500;
}

.subtask-list-item-heading {
    font-size: .75rem;
    color: var(--Blue-Zodiac);
    font-weight: 400;
}

.subtask-list-item-total {
    font-size: .75rem;
    color: var(--Blue-Zodiac);
    font-weight: 500;
    text-align: right;
}