.customer {
    border: 2px solid var(--Black);
    border-radius: .5rem;
    display: flex;
    background-color: var(--White);
    position: relative;
}

.customer-text {
    font-size: 12px;
    line-height: 21px;
    width: 80%;
    padding: 8px;
}

.button-box {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 3.75rem;
    height: 25%;
    top: .5rem;
    right: .5rem;
}

.edit-customer {
    color: var(--Fountain-Blue);
}

.edit-customer:hover {
    text-shadow: 0 0 .5rem var(--Fountain-Blue);
}

.delete-customer {
    color: var(--Delete);
}

.delete-customer:hover {
    text-shadow: 0 0 .5rem var(--Delete);
}