.login {
    width: 350px;
    height: 465px;
    margin: auto;
    padding: 2rem;
    background-color: var(--Blue-Zodiac);
    border: 1px solid var(--Blue-Zodiac);
    border-radius: 1rem;
    position: relative;
}

.login-email-label {
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    color: #EBF5FF;
}

.login-password-label {
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    color: var(--White);
}

.login-email-input {
    width: 100%;
    height: 40px;
    background-color: var(--Blue-Zodiac);
    color: var(--White);
    border: 1px solid var(--White);
    border-radius: .5rem;
    padding: 0 .25rem;
}

.login-password-input {
    width: 100%;
    height: 40px;
    background-color: var(--Blue-Zodiac);
    color: var(--White);
    border: 1px solid var(--White);
    border-radius: .5rem;
    padding: 0 .25rem;
}

.login-email-input:focus,
.login-password-input:focus {
    outline: none;
    border: 2px solid var(--Fountain-Blue);
}

.login-email-input:-webkit-autofill,
.login-email-input:-webkit-autofill:hover,
.login-email-input:-webkit-autofill:focus,
.login-email-input:-webkit-autofill:active,
.login-password-input:-webkit-autofill, 
.login-password-input:-webkit-autofill:hover, 
.login-password-input:-webkit-autofill:focus, 
.login-password-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--Blue-Zodiac) inset !important;
    -webkit-text-fill-color: var(--White) !important;
}

.login-buttons {
    position: absolute;
    bottom: 2rem;
    width: 286px;
    margin: 0 auto;
}

.button {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--Blue-Zodiac);
    background-color: var(--Fountain-Blue);
    border-radius: .5rem;
    margin-top: .5rem;
}
