.register {
    width: 350px;
    margin: auto;
    padding: 1.5rem;
    background-color: var(--Blue-Zodiac);
    border: 1px solid var(--Blue-Zodiac);
    border-radius: 1rem;
    position: relative;
}

.username-label,
.password-label,
.password1-label,
.email-label,
.name-label,
.phone-number-label {
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    color: #EBF5FF;
}

.username-input,
.password-input,
.password1-input,
.email-input,
.name-input,
.phone-number-input  {
    width: 100%;
    height: 40px;
    background-color: var(--Blue-Zodiac);
    color: var(--White);
    border: 1px solid var(--White);
    border-radius: .5rem;
    padding: 0 .25rem;
}

.username-input:focus,
.password-input:focus,
.password1-input:focus,
.email-input:focus,
.name-input:focus,
.phone-number-input:focus  {
    outline: none;
    border: 2px solid var(--Fountain-Blue);
}

.username-input:-webkit-autofill,
.password-input:-webkit-autofill,
.password1-input:-webkit-autofill,
.email-input:-webkit-autofill,
.name-input:-webkit-autofill,
.phone-number-input:-webkit-autofill  {
    -webkit-box-shadow: 0 0 0 1000px var(--Blue-Zodiac) inset !important;
    -webkit-text-fill-color: var(--White) !important;
}

.register-buttons {
    width: 100%;
    margin: 0;
}

.button {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--Blue-Zodiac);
    background-color: var(--Fountain-Blue);
    border-radius: .5rem;
    margin-top: .5rem;
}
