.customers {
    display: flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.customers-nav {
    position: fixed;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
}

.customers-nav[data-vis = true] {
    transform: translateX(0%);

}

.customers-content {
    width: 100%;
}

.customers-nav-button {
    position: fixed;
    display: block;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
}

@media (min-width: 650px) {
    .customers-nav{
        left: 0;
        transform: translateX(0%);
        position: relative;
    }

    .customers-nav-button {
        display: none;
    }
}